
.container {
  /* padding-top: 30px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
  }
  
  .container div:first-child {
    max-width: 50%;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #222;
    margin: 10px 0;
  }
  
  p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
  }
  
  button {
    background-color: #ff6600;
    color: white;
    font-size: 1.2rem;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #e65c00;
  }
  
  img {
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  @media (max-width: 1024px) {
    .container {
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }
  
    .container div:first-child {
      max-width: 100%;
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 2.5rem;
    }
  
    p {
      font-size: 1rem;
    }
  
    button {
      font-size: 1rem;
      padding: 10px 20px;
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 2rem;
    }
  
    p {
      font-size: 0.9rem;
    }
  
    button {
      font-size: 0.9rem;
      padding: 8px 16px;
    }
  }